*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

:root{
  --primary: #384955;
  --secondary: #27363b;
  --hover-color: #91ADC2;
  --light-colar: #f08080;
  --white: #fff;
  --black: #000;
  --poppins-font: "Poppins", sans-serif;
}

body{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  font-family: var(--poppins-font);
  background: var(--primary);
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  line-height: 1.2;
  margin-bottom: 12px;
  font-weight: 600;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul li{
  list-style: none;
}

p{
  margin-bottom: 20px;
}

a{
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s linear 0s;
  color: var(--white);
}

a:hover{
  color: var(--hover-color);
}

button{
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-family: var(--poppins-font);
  background: var(--white);
  transition: all 0.2s linear 0s;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
}

button:hover{
  background: var(--light-red);
  color: var(--white);
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="submit"],
textarea,
select{
  font-family: var(--poppins-font);
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
  width: 100%;
  border: 1px solid var(--white);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  outline: none;
}

input[type="submit"]{
  cursor: pointer;
  width: auto;
  transition: all 0.2s linear 0s;
}

input[type="submit"]:hover{
  background: var(--light-colar);
  color: var(--white);
}

textarea{
  resize: vertical;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  padding: 20px 0;
}

.hgroup-wrap {
  padding: 25px 0;
}

.site-branding{
  text-align: center;
  margin-bottom: 20px;
}

.site-branding a {
  font-size: 30px;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 30px;
}

.hgroup-wrap nav ul{
  padding-bottom: 15px;
  border-bottom: 0.1px solid var(--white);
}

nav a {
  padding: 5px;
  border-radius: 5px;
}

.hgroup-wrap nav a {
  font-size: 20px;
}

.hgroup-wrap nav a.active{
  background: var(--hover-color);
}

.hgroup-wrap nav a.active:hover{
  color: var(--white);
}

.help nav a{
  border: 1px solid var(--white);
}

.help nav a:hover, .help nav a.active{
  background: var(--light-colar);
  color: var(--white);
}

.faq-content .question{
  padding-bottom: 10px;
}

.input-wrap {
  margin-bottom: 20px;
}

.input-wrap label{
  display: block;
  padding-bottom: 3px;
}

.contact {
  background: var(--secondary);
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
}

.not-found a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.job-detail {
  background: var(--secondary);
  padding: 15px;
  margin-bottom: 15px;
}